[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.12"

[dev-packages]
pytest = "*"
black = "*"
isort = "*"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
pydantic = "*"
asyncpg = "*"
databases = "*"
psycopg2-binary = "*"
